@font-face {
  font-family: 'Retro';
  src: local('Retro'), url(/fonts/Retro.ttf) format('truetype');
}

@mixin navigation_dark {
  .navigation {
    a,
    span {
      color: $fg-color-dark;
      text-shadow: $fg-color-dark-shadow;
      font-family: $nav-font-family;
      text-decoration: none;
    }

    a {
      &:hover,
      &:focus {
        color: $link-color-dark;
        text-shadow: $link-color-dark-shadow;
      }
    }

    .navigation-list {
      @media only screen and (max-width: 768px) {
        background-color: $bg-color-dark;
        border-top: solid 2px $alt-bg-color-dark;
        border-bottom: solid 2px $alt-bg-color-dark;
      }

      .menu-separator {
        @media only screen and (max-width: 768px) {
          border-top: 2px solid $fg-color-dark;
        }
      }
    }

    .navigation-title {
      font-size: 3rem;
      position: relative;
      margin: 0 auto;
    }
    @keyframes noise-anim {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }
    .navigation-title:after {
      content: attr(data-text);
      position: absolute;
      left: 3px;
      font-size: 3rem;
      text-shadow: $link-color-dark-shadow;
      top: 0;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim 9s infinite linear alternate-reverse;
    }

    @keyframes noise-anim-2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }
    .navigation-title:before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      clip: rect(0, 200px, 0, 0);
      animation: noise-anim-2 10s infinite linear alternate-reverse;
    }

    @keyframes noise-anim {
      $steps: 19;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(101) + px, 9999px, random(100) + px, 0);
        }
      }
    }

    @keyframes noise-anim-2 {
      $steps: 21;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(104) + px, 9999px, random(100) + px, 0);
        }
      }
    }

    @keyframes noise-anim {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }

    @keyframes noise-anim-2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }

    #menu-toggle {
      @media only screen and (max-width: 768px) {
        &:checked + label > i {
          color: $alt-bg-color-dark;
        }
      }
    }

    i {
      color: $fg-color-dark;

      &:hover,
      &:focus {
        color: $link-color-dark;
      }
    }

    .menu-button {
      i {
        &:hover,
        &:focus {
          color: $alt-fg-color-dark;
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include navigation_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include navigation_dark();
  }
}
